In [1]:
# import numpy for arrays and math operations
import numpy as np

# import pandas for data tables and analysis
import pandas as pd

In [2]:
# read orders.csv file into a pandas dataframe called date
date = pd.read_csv('orders.csv')

# read messages.csv file into a pandas dataframe called time
time = pd.read_csv('messages.csv')

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [4]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [5]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [6]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

## **Working with Dates**

In [7]:
# convert the 'date' column to datetime format
date['date'] = pd.to_datetime(date['date'])

In [8]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

### **1. Extract Year**

In [9]:
# create a new column 'date_year' with the year from 'date'
date['date_year'] = date['date'].dt.year

# show 5 random rows from the date dataframe
date.sample(5)

          date  product_id  city_id  orders  date_year
864 2019-04-20        5203       27       1       2019
366 2019-07-22        2307        4       6       2019
798 2018-07-23         154       26       4       2018
92  2019-05-30        5788        7      34       2019
19  2019-04-13        7163        2      20       2019

### **2. Extract Month**

In [10]:
# create a new column 'date_month_no' with the month number from 'date'
date['date_month_no'] = date['date'].dt.month

# show the first 5 rows of the date dataframe
date.head()

        date  product_id  city_id  orders  date_year  date_month_no
0 2019-12-10        5628       25       3       2019             12
1 2018-08-15        3646       14     157       2018              8
2 2018-10-23        1859       25       1       2018             10
3 2019-08-17        7292       25       1       2019              8
4 2019-01-06        4344       25       3       2019              1

In [11]:
# create a new column 'date_month_name' with the month name from 'date'
date['date_month_name'] = date['date'].dt.month_name()

# show the first 5 rows of the date dataframe
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name
0,2019-12-10,5628,25,3,2019,12,December
1,2018-08-15,3646,14,157,2018,8,August
2,2018-10-23,1859,25,1,2018,10,October
3,2019-08-17,7292,25,1,2019,8,August
4,2019-01-06,4344,25,3,2019,1,January

### **3. Extract Days**

In [12]:
# create a new column 'date_day' with the day from 'date'
date['date_day'] = date['date'].dt.day

# show the first 5 rows of the date dataframe
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day
0,2019-12-10,5628,25,3,2019,12,December,10
1,2018-08-15,3646,14,157,2018,8,August,15
2,2018-10-23,1859,25,1,2018,10,October,23
3,2019-08-17,7292,25,1,2019,8,August,17
4,2019-01-06,4344,25,3,2019,1,January,6

In [13]:
# create a new column 'date_dow' with the day of the week from 'date' (0=mon, 6=sun)
date['date_dow'] = date['date'].dt.dayofweek

# show the first 5 rows of the date dataframe
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day,date_dow
0,2019-12-10,5628,25,3,2019,12,December,10,1
1,2018-08-15,3646,14,157,2018,8,August,15,2
2,2018-10-23,1859,25,1,2018,10,October,23,1
3,2019-08-17,7292,25,1,2019,8,August,17,5
4,2019-01-06,4344,25,3,2019,1,January,6,6

In [14]:
# create a new column 'date_dow_name' with the day name from 'date'
date['date_dow_name'] = date['date'].dt.day_name()

# drop 'product_id', 'city_id', 'orders' columns and show first 5 rows
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name
0,2019-12-10,2019,12,December,10,1,Tuesday
1,2018-08-15,2018,8,August,15,2,Wednesday
2,2018-10-23,2018,10,October,23,1,Tuesday
3,2019-08-17,2019,8,August,17,5,Saturday
4,2019-01-06,2019,1,January,6,6,Sunday

In [15]:
# create a new column 'date_is_weekend' (1 if saturday or sunday, else 0)
date['date_is_weekend'] = np.where(date['date_dow_name'].isin(['Sunday', 'Saturday']), 1, 0)

# drop 'product_id', 'city_id', 'orders' columns and show first 5 rows
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend
0,2019-12-10,2019,12,December,10,1,Tuesday,0
1,2018-08-15,2018,8,August,15,2,Wednesday,0
2,2018-10-23,2018,10,October,23,1,Tuesday,0
3,2019-08-17,2019,8,August,17,5,Saturday,1
4,2019-01-06,2019,1,January,6,6,Sunday,1

### **4. Extract Week of the Year**

In [16]:
# create a new column 'date_week' with the week number from 'date'
date['date_week'] = date['date'].dt.isocalendar().week

# drop 'product_id', 'city_id', 'orders' columns and show first 5 rows
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend,date_week
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43
3,2019-08-17,2019,8,August,17,5,Saturday,1,33
4,2019-01-06,2019,1,January,6,6,Sunday,1,1

### **5. Extract Quarter**

In [17]:
# create a new column 'quarter' with the quarter number from 'date'
date['quarter'] = date['date'].dt.quarter

# drop 'product_id', 'city_id', 'orders' columns and show first 5 rows
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend,date_week,quarter
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50,4
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33,3
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43,4
3,2019-08-17,2019,8,August,17,5,Saturday,1,33,3
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1

### **6. Extract Semester**

In [18]:
# create a new column 'semester' (1 if quarter 1 or 2, else 2)
date['semester'] = np.where(date['quarter'].isin([1,2]), 1, 2)

# drop 'product_id', 'city_id', 'orders' columns and show first 5 rows
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend,date_week,quarter,semester
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50,4,2
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33,3,2
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43,4,2
3,2019-08-17,2019,8,August,17,5,Saturday,1,33,3,2
4,2019-01-06,2019,1,January,6,6,Sunday,1,1,1,1

### **7. Extract Time elapsed between Dates**

In [19]:
# import datetime module to work with dates and times
import datetime

# get the current date and time
today = datetime.datetime.today()

# display today's date and time
today

datetime.datetime(2026, 2, 2, 18, 55, 29, 819736)

In [20]:
# calculate the difference between today and the dates in 'date' column
today - date['date']

0     2246 days 18:55:29.819736
1     2728 days 18:55:29.819736
2     2659 days 18:55:29.819736
3     2361 days 18:55:29.819736
4     2584 days 18:55:29.819736
                 ...
995   2674 days 18:55:29.819736
996   2615 days 18:55:29.819736
997   2463 days 18:55:29.819736
998   2528 days 18:55:29.819736
999   2302 days 18:55:29.819736
Name: date, Length: 1000, dtype: timedelta64[ns]

In [21]:
# get the difference in days between today and the dates in 'date' column
(today - date['date']).dt.days

0      2246
1      2728
2      2659
3      2361
4      2584
       ...
995    2674
996    2615
997    2463
998    2528
999    2302
Name: date, Length: 1000, dtype: int64

In [22]:
# calculate approximate months passed since each date
np.round((today - date['date']) / np.timedelta64(1, 'm'), 0)

0      3235375.0
1      3929455.0
2      3830095.0
3      3400975.0
4      3722095.0
         ...
995    3851695.0
996    3766735.0
997    3547855.0
998    3641455.0
999    3316015.0
Name: date, Length: 1000, dtype: float64

## **Working with Time**

In [23]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [24]:
# convert the 'date' column in time dataframe to datetime format
time['date'] = pd.to_datetime(time['date'])

In [25]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [26]:
# create a new column 'hour' with hour from 'date'
time['hour'] = time['date'].dt.hour

# create a new column 'min' with minute from 'date'
time['min'] = time['date'].dt.minute

# create a new column 'sec' with second from 'date'
time['sec'] = time['date'].dt.second

# show the first 5 rows of the time dataframe
time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

### **1. Extract Time part**

In [27]:
# create a new column 'time' with only the time part from 'date'
time['time'] = time['date'].dt.time

# show the first 5 rows of the time dataframe
time.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

### **2. Time difference**

In [28]:
# calculate the difference between today and the dates in time dataframe
today - time['date']

0     4432 days 18:05:29.819736
1     4296 days 19:15:29.819736
2     4782 days 18:34:29.819736
3     4084 days 18:24:29.819736
4     4481 days 19:44:29.819736
                 ...
995   5071 days 18:05:29.819736
996   4392 days 19:41:29.819736
997   4857 days 19:18:29.819736
998   4973 days 19:21:29.819736
999   4245 days 19:30:29.819736
Name: date, Length: 1000, dtype: timedelta64[ns]

In [29]:
# get the difference between today and time['date'] in seconds
(today - time['date']) / np.timedelta64(1, 's')

0      3.829899e+08
1      3.712437e+08
2      4.132317e+08
3      3.529239e+08
4      3.872295e+08
           ...
995    4.381995e+08
996    3.795397e+08
997    4.197143e+08
998    4.297369e+08
999    3.668382e+08
Name: date, Length: 1000, dtype: float64

In [30]:
# get the difference between today and time['date'] in minutes
(today - time['date']) / np.timedelta64(1, 'm')

0      6.383165e+06
1      6.187395e+06
2      6.887194e+06
3      5.882064e+06
4      6.453824e+06
           ...
995    7.303325e+06
996    6.325661e+06
997    6.995238e+06
998    7.162281e+06
999    6.113970e+06
Name: date, Length: 1000, dtype: float64

In [31]:
# get the difference between today and time['date'] in hours
(today - time['date']) / np.timedelta64(1, 'h')

0      106386.091617
1      103123.258283
2      114786.574950
3       98034.408283
4      107563.741617
           ...
995    121722.091617
996    105427.691617
997    116587.308283
998    119371.358283
999    101899.508283
Name: date, Length: 1000, dtype: float64